{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
<article class="br2 mb3 ba b--black-10 bg-white">
  <div class="flex-column flex-row-ns flex">
    {{ if $featured_image }}
    <div class="w-100 w-30-ns cover bg-center" style="background-image: url('{{ $featured_image }}'); min-height: 180px;">
      <a href="{{ .RelPermalink }}" class="db h-100"></a>
    </div>
    {{ end }}
    <div class="w-100{{ if $featured_image }} w-70-ns{{ end }} pa3 pa4-ns">
      <h2 class="f3 fw4 mt0 mb2 lh-title">
        <a href="{{ .RelPermalink }}" class="color-inherit no-underline dim">
          {{ .Title }}
        </a>
      </h2>
      <div class="f6 gray mb3">
        {{- .Date | time.Format "2006-01-02" -}}
        {{ with .Params.categories }}
          <span class="ml2">
          {{ range . }}
            <a href="{{ "/categories/" | relURL }}{{ . | urlize }}/" class="link gray dim">#{{ . }}</a>
          {{ end }}
          </span>
        {{ end }}
      </div>
      <div class="f5 lh-copy mid-gray">
        {{ with .Description }}
          {{ . }}
        {{ else }}
          {{ .Summary | plainify | strings.Truncate 160 }}
        {{ end }}
      </div>
      <a href="{{ .RelPermalink }}" class="link dim f6 mt3 dib blue">{{ $.Param "read_more_copy" | compare.Default "阅读全文 →" }}</a>
    </div>
  </div>
</article>
